/* Locally hosted fonts */
@font-face {
    font-family: 'Eater';
    src: url('/assets/fonts/Eater-Regular.woff2') format('woff2'),
         url('/assets/fonts/Eater-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff7f50;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    height: 100vh;
}

.container {
    background-color: #9dfbfb;
    padding: 20px 30px;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: 500px;
}

h1 {
    font-family: 'Eater', serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
}

.input-group {
    display: flex;
    gap: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #0f3131;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}
  
li button {
    background: #ffffff;
    color: #000000;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.task-text.completed {
    text-decoration: line-through;
}

.task-checkbox {
    margin-right: 10px;
}